@font-face {
    font-family: "BankGothic";
    src: url('~@/assets/fonts/BankGothic-Regular.ttf') format("truetype"),
        url('~@/assets/fonts/BankGothic-Bold.ttf') format("truetype");
}


$color1: #99ff00;
$color2: #001aff;
$color3: #bdbfbf;
